/*
	Author: 	Isaac Terry
	Purpose: 	This document is the external stylesheet for my CS N241 final project.
*/
/* ============================ CSS RESET ============================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Note: These @font-face's were obtained using http://www.localfont.com/ */
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/raleway/v11/JDau3G46nqY5-B-S9E_nwg.eot");
  src: url("http://fonts.gstatic.com/s/raleway/v11/JDau3G46nqY5-B-S9E_nwg.eot?#iefix") format("embedded-opentype"), local("Raleway"), local("Raleway-regular"), url("http://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2") format("woff2"), url("http://fonts.gstatic.com/s/raleway/v11/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff") format("woff"), url("http://fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=IP_NSg73bUZGuyb3zF6qcQ&skey=30a27f2564731c64&v=v11#Raleway") format("svg"); }

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI1QlYEbsez9cZjKsNMjLOwM.eot");
  src: url("http://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI1QlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("embedded-opentype"), local("Raleway Bold"), local("Raleway-700"), url("http://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2") format("woff2"), url("http://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff") format("woff"), url("http://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaIy3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=JbtMzqLaYbbbCL9X6EvaI6WUboTb-jS2tyCOQMtm97g&skey=e507c3e2b7915ad1&v=v11#Raleway") format("svg"); }

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: italic;
  src: url("http://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF__Y6323mHUZFJMgTvxaG2iE.eot");
  src: url("http://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF__Y6323mHUZFJMgTvxaG2iE.eot?#iefix") format("embedded-opentype"), local("Raleway Italic"), local("Raleway-italic"), url("http://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF_5Bw1xU1rKptJj_0jans920.woff2") format("woff2"), url("http://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF_7O3LdcAZYWl9Si6vvxL-qU.woff") format("woff"), url("http://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF_6CWcynf_cDxXwCLxiixG1c.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=IIm-lPOtfVKQy0GMiczF_5bd9NUM7myrQQz30yPaGQ4&skey=bf44ee29381a37b0&v=v11#Raleway") format("svg"); }

* {
  box-sizing: border-box; }

body {
  font-family: "Raleway", Arial, sans-serif;
  font-size: small;
  /* standardizing the font that will be used */
  color: #000000;
  background-color: #fffeec;
  font-weight: normal;
  padding: 0.5rem; }
  @media screen and (max-width: 500px) {
    body {
      background-color: #ffffff; } }

main {
  margin: 2rem 0; }

/************************ stylings for all links  (universally applied) ************************/
/* removing all underlines because it can make it difficult to read and making all links bold instead */
a {
  text-decoration: none;
  font-weight: bold; }

/* setting color for all unvisited links */
a:link {
  color: #3124ea;
  /* bluish color */ }

/* setting color for all visited links */
a:visited {
  color: #30502a;
  /* greenish color */ }

/* underlining (with a dotted border) for all links that are be hovered */
a:hover {
  border-bottom: 2px dotted #000000; }

/************************ styling input controls (universally applied) ***************************/
input, textarea {
  border: 1px solid #635e5e;
  /* grayish border */ }

/************************ styling sections (universally applied) ***************************/
section, .section {
  margin-top: 2rem; }

/************************* styling table headers and strong elments *************************/
th, strong {
  font-weight: bold; }

.main-container {
  max-width: 1000px;
  /* helps keep the page from not being to wide on big/wide devices */
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.3rem;
  line-height: 1.5;
  /* might help to make it more readable */
  background-color: #fff;
  padding: 0.5rem; }
  @media screen and (max-width: 500px) {
    .main-container {
      width: 100%;
      padding: 0; } }

.image-container {
  text-align: center;
  margin-bottom: 2rem; }

.quotation-container {
  width: 70%;
  margin: 1rem auto;
  padding: 0.5rem 0 0.5rem 2rem;
  border: 1px solid #000000; }

.website-goals-list, .resource-list, .webpage-nav-list, .website-explanation-list {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
  .website-goals-list li, .resource-list li, .webpage-nav-list li, .website-explanation-list li, .website-goals-list dd, .resource-list dd, .webpage-nav-list dd, .website-explanation-list dd {
    margin-left: 1.5rem;
    margin-bottom: 0.8rem; }

.website-goals-list, .resource-list {
  list-style-type: square; }

.webpage-nav-list {
  list-style-type: lower-roman; }

.website-explanation-list {
  margin-left: 1rem; }

/******************** utility classes ********************/
.website-title, .webpage-title, .section-title {
  font-weight: bold; }

.website-title, .webpage-title {
  text-align: center; }

/**************************** stylings for titles ***************/
.website-title {
  font-size: 1.5rem; }

.webpage-title {
  font-size: 2.5rem; }

.section-title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  /* create some distance from the content directly below */ }

.book-title {
  font-style: italic; }

/*********************************** stylings the form **************************************/
#contact-form {
  margin-top: 1.5rem;
  border: 1px solid #000000;
  padding: 0.5rem;
  background-color: #ffffff; }
  #contact-form > p {
    margin: 1.2rem 0; }
  #contact-form fieldset {
    border: none; }
  #contact-form fieldset p {
    margin: 0.4rem 1rem; }
  #contact-form legend {
    /* needed because was not playing nice with Edge and Internet Explorer */
    display: inline; }
  #contact-form textarea {
    padding: 0.2rem; }
    @media screen and (max-width: 500px) {
      #contact-form textarea {
        width: 70%;
        height: 13rem; } }
  #contact-form .buttons-container {
    /* centering input buttons */
    text-align: center;
    margin: 0.5rem auto; }
  #contact-form .button {
    padding: 0.5rem;
    /* make button seem bigger */
    margin: 1rem 0;
    /* give some space for button */
    background-color: #ececec;
    /* light grayish background */
    border: 2px solid #383838;
    font-size: 1rem; }
  #contact-form .button:hover {
    /* when hovering, change input buttons' background color and make font bold */
    background-color: #b4b4b4;
    font-weight: bold; }

.website-nav a, .webpage-nav a {
  color: #a90a0a; }

.website-nav {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  margin: 0 auto; }
  .website-nav ul {
    padding: 0; }
  .website-nav li {
    display: inline;
    list-style-type: none;
    margin: 0 5%;
    padding: 0; }
    @media screen and (max-width: 700px) {
      .website-nav li {
        display: block;
        border-bottom: 1px solid white;
        margin-bottom: 0.2rem;
        /* makes it easier to see <a>'s bottom border for when hovering */ } }
  .website-nav a.active:link, .website-nav a.active:visited {
    color: #ffffff;
    background-color: #000000;
    padding: 0.2rem;
    /* emphasize the readability w/ background-color */
    border: none; }

@media screen and (max-width: 700px) {
  .webpage-nav {
    width: 50%; } }

.main-footer {
  border: 1px dashed gray;
  padding: 0.3rem;
  background-color: #fffbfb; }

/************************** additional stylings ******************************/
/* anything that should be hidden will get the "hide" class */
.hide {
  display: none; }

/*# sourceMappingURL=style.css.map */