/*
	Author: 	Isaac Terry
	Purpose: 	This document is the external stylesheet for my CS N241 final project.
*/

@import "./partials/reset";
@import "./partials/variables";
@import "./partials/fonts";
@import "./partials/universal";
@import "./partials/containers";
@import "./partials/website-lists";
@import "./partials/titles";
@import "./partials/contact-form";
@import "./partials/navigation";
@import "./partials/footers";

/************************** additional stylings ******************************/
/* anything that should be hidden will get the "hide" class */
.hide {
	display: none;
}