/*********************************** stylings the form **************************************/
#contact-form {
	margin-top: 1.5rem;
	border: 1px solid #000000;
	padding: 0.5rem;
	background-color: #ffffff;
	
	> p {
		margin: 1.2rem 0;
	}
	
	fieldset {
		border: none
	}
	
	fieldset p {
		margin: 0.4rem 1rem;
	}

	legend { /* needed because was not playing nice with Edge and Internet Explorer */
		display: inline;
	}

	textarea {
		padding: 0.2rem;
		
		@media screen and (max-width: $small_devices_breakpoint) {
			width: 70%;
			height: 13rem;
		}
	}
	

	
	.buttons-container { /* centering input buttons */
		text-align: center;
		margin: 0.5rem auto; 
	}

	.button { 
		padding: 0.5rem; /* make button seem bigger */
		margin: 1rem 0;  /* give some space for button */
		background-color: #ececec; /* light grayish background */
		border: 2px solid #383838; 
		font-size: 1rem; 
	}


	.button:hover { /* when hovering, change input buttons' background color and make font bold */
		background-color: #b4b4b4;
		font-weight: bold; 
	}
}
