.main-container {
	max-width: 1000px; /* helps keep the page from not being to wide on big/wide devices */
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.3rem;
	line-height: 1.5; /* might help to make it more readable */
	background-color: #fff;
	padding: 0.5rem;
}