* {
	box-sizing: border-box;
}

body {
	font-family: $primary_font, Arial, sans-serif;
	font-size: small; /* standardizing the font that will be used */
	color: #000000;
	background-color: #fffeec;
	font-weight: normal;
	padding: 0.5rem;
	
	@media screen and (max-width: $small_devices_breakpoint) {
		& {
			background-color: #ffffff;
		}
	}
}

main {
	margin: 2rem 0;
}

/************************ stylings for all links  (universally applied) ************************/  
/* removing all underlines because it can make it difficult to read and making all links bold instead */
a {
	text-decoration: none;
	font-weight: bold;
}

/* setting color for all unvisited links */
a:link { 
	color: #3124ea; /* bluish color */
}

/* setting color for all visited links */
a:visited { 
	color: #30502a; /* greenish color */
}


/* underlining (with a dotted border) for all links that are be hovered */
a:hover {    
	border-bottom: 2px dotted #000000;
}

/************************ styling input controls (universally applied) ***************************/
input, textarea {
	border: 1px solid #635e5e; /* grayish border */
}

/************************ styling sections (universally applied) ***************************/
section, .section {
	margin-top: 2rem;
}

/************************* styling table headers and strong elments *************************/
th, strong {
	font-weight: bold;
}